---
layout: default
---

{% for post in paginator.posts | limit: 1%}
<div class="jumbotron">
  <div class="container">
    <div class="col-sm-8  col-sm-offset-2">
      <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="post-content col-sm-8 col-sm-offset-2">
      {{ post.content }}
    </div>
  </div>
</div>
{% endfor %}


<!--
<div class="container">
  <div class="text-center">
    {% if paginator.previous_page %}
      <a class="btn btn-default" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">Previous</a>
      {% endif %}
      <span>{{ paginator.page }} / {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a class="btn btn-default" href="{{ site.baseurl }}{{ paginator.next_page_path }}">Next</a>
    {% endif %}
  </div>
</div>
-->
