<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <div class="row">
	  <div class="col-sm-3 col-xs-12">
	    <!-- email link here -->
	  </div>
      <div class="col-sm-3 col-xs-12">
        <!-- put Twitter follow icon here -->
      </div>
	  <div class="col-sm-3 col-xs-12">
        <!-- put your own counter here -->
	  </div>
	  <div class="col-sm-12">
	    <div>{{ site.description }}</div>
	  </div>
        </div>
      </div>
    </div>
  </div>
</footer>
