<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<!-- If CDN doesn't load use local copy of JQuery -->
<script>
  (function() {
      if(typeof jQuery=='undefined') {
          document.write('<sc'
             + 'ript src="/js/jquery-1.12.0.min.js"></sc'
             + 'ript>');
      }
  }).call(this);
</script>

<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!-- If CDN doesn't load use local copy of Bootstrap -->
<script>
  (function() {
    if (typeof($.fn.modal) === 'undefined') {
      document.write('<sc'
             + 'ript async src="/js/bootstrap.min.js"></sc'
             + 'ript>');
    }
  }).call(this);
</script>
